.hoverStyle:hover {
    cursor: pointer;
}

.hoverStyle {

    ion-col:nth-child(2) {
        color: blue !important;
        p{color: blue !important}
    }
}
.styleRows {
    ion-row:nth-child(2n) {
        background: rgba(173, 216, 230, 0.2);
    }
    ion-row {
        ion-col:nth-child(1) {
            p{font-weight: bold;}
        }
        ion-col:nth-child(2) {
            text-align: right;
        }
        p{margin: 5px 0}
    }
}