<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
    <ion-buttons slot="end" >
      <ion-button (click)="createPlayer()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item detail="true" button="true" (click)="viewPlayerDetails()">
      <ion-thumbnail slot="start">
        <ion-img src="https://th.bing.com/th/id/OIP.gBbjm8Ald7qRzHwXVqy1AwAAAA?w=176&h=176&c=7&o=5&dpr=2&pid=1.7"></ion-img>
      </ion-thumbnail>
    <div>
      <h3>Emri Mbiemri | 22-203040 | 18.03.1990 </h3>
      <p>Lorem ipsum dolor, sit.</p>
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="$event.stopPropagation(); editPlayer({name: 'Player Name', surname:'Surname'})" >
        <ion-icon name="create-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
