<ion-header>
  <ion-toolbar>
    <ion-title>
      Players List
    </ion-title>
    <ion-buttons slot="end" >
      <ion-button (click)="createPlayer()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-lg="8" offset-lg="2">
        <ion-list>
          <ion-card *ngFor="let player of playersList">
            <ion-item lines="none" detail="true" button="true" (click)="viewPlayerDetails(player)">
              <ion-thumbnail style="zoom: 1.4;" slot="start">
                <ion-img [src]="player.profilePicture ? player.profilePicture : environmenti.defailtProfilePicture"></ion-img>
              </ion-thumbnail>
              <div>
                <h3 style="margin: 0;">{{ player?.firstName }} {{ player?.lastName }} | {{ player?.birthDate | date:"dd.MM.yyyy" }} </h3>
                <p style="margin: 0">{{ player?.ageGroup ? 'Senior' : 'Junior' }} - {{ player?.playingPosition }}, {{ player?.nationality }}, {{ player?.birthTown }}</p>
                <p style="margin: 0; font-size: 10px;">{{ player?.id }} | {{ player?.krfId }}</p>
              </div>
              <ion-buttons slot="end">
                <ion-button (click)="$event.stopPropagation(); editPlayer(player)" >
                  <ion-icon name="create-outline" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
