<ion-header>
  <ion-toolbar>
    <ion-title>update-requests</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-lg="8" offset-lg="2">
        <ion-card *ngFor="let player of playersList" button="true" (click)="selectPlayer(player)">
          <ion-item lines="none" detail="true">
            <ion-avatar  slot="start">
              <ion-img [src]="player.profilePicture ? environmenti.apiBase + 'Files/' +  player.profilePicture : environmenti.defaultProfilePicture"></ion-img>
            </ion-avatar>
            <div class="playerDetailsOnLists">
              <p><strong>{{ player.firstName }} {{ player.lastName }}</strong></p>
              <p>{{ player.club.officialName }}</p>
              <p>{{ player.club.email }}</p>
            </div>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
